<div class="bgAzul">
  <ion-icon class="voltar" [routerLink]="['/login']" name="arrow-round-back"></ion-icon>

  <br><br><br><br><br><br><br><br><br><br>
 
  <ion-input [(ngModel)]="nome" class="caixaTexto" type="text" placeholder="Nome"></ion-input>
  <ion-input [(ngModel)]="email" class="caixaTexto" type="email" placeholder="Email"></ion-input>
  <ion-input [(ngModel)]="senha" class="caixaTexto" type="password" placeholder="Senha"></ion-input>
  <ion-input [(ngModel)]="confirmarSenha" class="caixaTexto" type="password" placeholder="Confirmar Senha"></ion-input>
  
  <div (click)="cadastrar()">
    <p class="continuar">
      Confirmar
      <ion-icon name="checkmark"></ion-icon>
    </p>
  </div>
</div>