.bgAzul {
    background-color: #0060BF;
    height: 100%;
    width: 100%;
}

.voltar {
    color: white;
    font-size: 36px;
    margin: 10px;
}

.continuar {
    color: white;
    font-size: 20px;
    margin: 5% 10% 0% 56%;
}

.caixaTexto {
    margin: 1% 10% 1% 10%;
    width: 80%;
}