<div class="bgAzul">
  <ion-icon class="voltar" [routerLink]="['']" name="arrow-round-back"></ion-icon>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-input class="caixaTexto" type="text" placeholder="Nome"></ion-input>
  <ion-input class="caixaTexto" type="email" placeholder="Email"></ion-input>
  <ion-input class="caixaTexto" type="password" placeholder="Senha"></ion-input>
  <ion-input class="caixaTexto" type="password" placeholder="Confirmar Senha"></ion-input>
  
  <p class="continuar">
    Confirmar
    <ion-icon name="checkmark"></ion-icon>
  </p>
</div>