<ion-header>
  <ion-toolbar>
    <ion-title>Inscrições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cartao" *ngFor="let p of listaTodosPublicadores">
    <ion-grid>
      <ion-row class="ion-align-self-center">
        <ion-col size="2" class="centralizar" [routerLink]="['/publicador', p.id]">
          <img src="{{p.foto}}" class="imgIcone" >
        </ion-col>
        <ion-col size="7" class="centralizar" [routerLink]="['/publicador', p.id]">
          <ion-title>
            {{p.nome}}
          </ion-title>
        </ion-col>

        <ion-col size="2" class="centralizer" *ngIf="inscrito(p.id) == true">
          <ion-toggle checked (click)="cancelarInscricao(p.id)" color="primary"></ion-toggle>
        </ion-col>

        <ion-col size="2" class="centralizer" *ngIf="inscrito(p.id) == false">
          <ion-toggle (click)="inscrever(p.id)" color="primary"></ion-toggle>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
