<ion-header>
  <ion-toolbar>
    <ion-title>Inscrições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cartao" *ngFor="let p of listaPublicadores">
    <ion-grid>
      <ion-row class="ion-align-self-center">
        <ion-col size="2" class="centralizar" [routerLink]="['/publicador', p.id]">
          <img src="{{p.foto}}" class="imgIcone" >
        </ion-col>
        <ion-col size="7" class="centralizar" [routerLink]="['/publicador', p.id]">
          <ion-title>
            {{p.nome}}
          </ion-title>
          <ion-label>
            Boletins: {{p.boletins.length}}
          </ion-label>
        </ion-col>
        <ion-col size="3" class="centralizer">
          <ion-button (click)="cancelarInscricao()" class="txtC">
            Inscrito
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
</ion-content>
