<ion-content>
  <div class="centralizar">
    <img class="logo" src="https://i.ibb.co/DRCg0Xk/Captura-de-Tela-80.png">
  </div>
  
  <div class="divCartao centralizar">
  
    <br><br><br><br>

    <ion-input class="caixaTexto" type="Email" placeholder="Email" [(ngModel)]="email"></ion-input>
    <ion-input class="caixaTexto" type="Password" placeholder="Senha" [(ngModel)]="senha"></ion-input>
    <br>
    <div class="centralizar">
      <ion-button (click)="fazerLogin()" fill="solid" shape="round" color="light">
        Entrar
      </ion-button>
      <br><br><br><br>
      <ion-button fill="solid" shape="round" color="light" [routerLink]="['/cadastroDados']">
        Cadastrar
      </ion-button>
    </div>
  </div>
</ion-content>