<ion-header style="position: static;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="tituloCartao">Alterar Email</h1>
  <br>
  <ion-card class="branco cartaoUsuario">
    <br><br><br><br><br><br><br><br><br><br>

    <ion-input class="caixaTexto" [(ngModel)]="email" type="Email" placeholder="Novo Email"></ion-input>
    <ion-input class="caixaTexto" [(ngModel)]="senha" type="Password" placeholder="Senha"></ion-input>


    <br><br><br><br><br><br><br>

    <div class="centralizar">
      <ion-button (click)="alterarEmail()" fill="solid" shape="round" color="light">
        Confirmar
      </ion-button>
    </div>
  </ion-card>
</ion-content>