<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--BOLETIM-->
  <ion-card class="cartao" *ngIf="boletimAtual">
    
    <img src="{{boletimAtual.capa}}"/>
    <ion-card-header>
      <ion-card-title class="txtC">
        {{boletimAtual.titulo}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="txtJ">
      <p>{{boletimAtual.conteudo}}</p>
    </ion-card-content>

    <ion-card-subtitle class="txtC">
      Publicado em:<br>
      {{boletimAtual.publicadoEm}}
    </ion-card-subtitle>

  </ion-card>

<!--SEÇOES-->
  <ion-card  *ngFor="let s of listaSecoes" (click)="mostrarSecao(s)" class="cartao txtC" style="padding: 10px;">
    <ion-icon name="{{s.icone}}" style="font-size: 40px; color: gray;"></ion-icon>
    <ion-title>{{s.titulo}}</ion-title>
  </ion-card>

<!--PUBLICADOR/LIKE-->
  <ion-grid *ngIf="boletimAtual && publicador">
    <ion-row align-items-center>
      <ion-col>
        <div class="centralizar" [routerLink]="['/publicador', boletimAtual.publicadorId]">
          <img class="imgIcone" src="{{publicador.foto}}"/>
        </div>
      </ion-col>

      <ion-col>
        <div class="centralizar" *ngIf="!like">
          <ion-icon (click)="alterarValorLike()" name="thumbs-up" style="font-size: 40px; color: gray;"></ion-icon>
        </div>
        
        <div class="centralizar" *ngIf="like">
          <ion-icon (click)="alterarValorLike()" name="thumbs-up" style="font-size: 40px; color: #0060BF;"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <div class="centralizar">
          <ion-label [routerLink]="['/publicador', boletimAtual.publicadorId]">
            {{publicador.nome}}
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="centralizar">
          <ion-label>
            {{boletimAtual.likes}}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

<!--COMENTAR-->
  <ion-card class="cartao bordaAzul">
    <ion-grid>
      <ion-row>
        <ion-input type="text" placeholder="Escreva Algo" class="caixaTexto" [(ngModel)]="comentario"></ion-input>
      </ion-row>
      <ion-row>
        <ion-label (click)="comentar()" class="comentar">Comentar</ion-label>
      </ion-row>
    </ion-grid>
  </ion-card>

<!--COMENTARIOS DO USUARIO LOGADO-->
  <ion-card  *ngFor="let u of listaComentariosUsuario" class="cartao bordaAzul txtJ" style="padding: 10px;">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col size="4" class="centralizar">
          <ion-title>Você</ion-title>
        </ion-col>
        <ion-col size="4" class="centralizar">
          <ion-label class="txtC">{{u.data}}</ion-label>
        </ion-col>
        <ion-col size="4" class="centralizar">
          <ion-icon (click)="apagar(u.id)" name="trash" style="font-size: 25px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>{{u.comentario}}</p>
  </ion-card>

<!--COMENTARIOS DE OUTROS USUÁRIOS-->
  <ion-card  *ngFor="let c of listaComentarios" class="cartao txtJ" style="padding: 10px;">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col size="7">
          <ion-title>{{c.usuario}}</ion-title>
        </ion-col>
        <ion-col size="5">
          <ion-label class="txtC">{{c.data}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <p>{{c.comentario}}</p>
  </ion-card>

</ion-content>