.caixaTexto {
    width: 95%;
    padding: 20px;
}

.comentar {
    margin: 0% 0% 0% 80%; 
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.caixaComentario {
    border-style: solid;
    border-color: #0060BF;
    border-width: 2px;
}

p {
    font-size: 16px;
}