  
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="boletimAtual">
    
    <img src="{{boletimAtual.capa}}"/>
    <ion-card-header>
      <ion-card-title>
        {{boletimAtual.titulo}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{boletimAtual.conteudo}}</p>
    </ion-card-content>

    <ion-card-subtitle>
      Publicado em:<br>
      {{boletimAtual.publicadoEm}}
    </ion-card-subtitle>

  </ion-card>
  
  <ion-grid *ngIf="boletimAtual">
    <ion-row>
      <ion-col size="6">
        <ion-label>
          {{boletimAtual.publicadorNome}}
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          {{boletimAtual.likes}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let t of listaTopicos">
    <ion-title>{{t.titulo}}</ion-title>
  </ion-card>
</ion-content>