  
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cartao" *ngIf="boletimAtual">
    
    <img src="{{boletimAtual.capa}}"/>
    <ion-card-header>
      <ion-card-title class="txtC">
        {{boletimAtual.titulo}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="txtJ">
      <p>{{boletimAtual.conteudo}}</p>
    </ion-card-content>

    <ion-card-subtitle class="txtC">
      Publicado em:<br>
      {{boletimAtual.publicadoEm}}
    </ion-card-subtitle>

  </ion-card>

  <ion-card class="cartao txtC" style="padding: 10px;" *ngFor="let t of listaTopicos">
    <ion-title>{{t.titulo}}</ion-title>
  </ion-card>

  <ion-grid *ngIf="boletimAtual">

    <ion-row align-items-center>
      <ion-col>
        <div class="centralizar">
          <img class="imgIcone" src="{{boletimAtual.publicadorImagem}}"/>
        </div>
      </ion-col>

      <ion-col>
        <div class="centralizar">
          <ion-icon name="thumbs-up" style="font-size: 40px; color: gray;"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <div class="centralizar">
          <ion-label>
            {{boletimAtual.publicadorNome}}
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="centralizar">
          <ion-label>
            {{boletimAtual.likes}}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>