<ion-tabs>

  <ion-tab-bar slot="bottom" style="background-color: #0060BF;">
    <ion-tab-button tab="Perfil" style="background-color: transparent;">
      <ion-icon name="person" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Feed" style="background-color: transparent;">
      <ion-icon name="paper" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Inscricoes" style="background-color: transparent;">
      <ion-icon name="heart" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Inscrições</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
