.bgAzul {
    background-color: #0060BF;
    height: 100%;
    width: 100%;
}

.texto {
    text-align: center;
    color: white;
    font-size: 28px;
}

.continuar {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: white;
    font-size: 20px;
    margin: 5% 10% 0% 70%;
}
