<ion-header style="position: static;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="tituloCartao">Alterar Senha</h1>
  <br>
  <ion-card class="branco cartaoUsuario">
    <br><br><br><br><br><br><br><br>

    <ion-input class="caixaTexto" [(ngModel)]="senhaAtual" type="password" placeholder="Senha Atual"></ion-input>
    <ion-input class="caixaTexto" [(ngModel)]="novaSenha" type="password" placeholder="Nova Senha"></ion-input>
    <ion-input class="caixaTexto" [(ngModel)]="confirmacao" type="password" placeholder="Confirmar Nova Senha"></ion-input>

    <br><br><br><br><br><br>

    <div class="centralizar">
      <ion-button (click)="alterarSenha()" fill="solid" shape="round" color="light">
        Confirmar
      </ion-button>
    </div>
  </ion-card>
</ion-content>