.mgZero {
    margin: 0px;
}

.imgIcone {
    height: 30px;
    width: 30px;
}

.imgCartao {
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.txtLabel {
    font-size: 10px;
}

.like {
    font-size: 30px;
    color: #0060BF;
}