<ion-header>
  <ion-searchbar showCancelButton="focus" placeholder="Pesquisar" (ionChange)="listar($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let b of listaBoletim" [routerLink]="['/boletim', b.id]">
    <ion-card-header>
      <ion-card-title>
          {{b.titulo}}
      </ion-card-title>

      <ion-card-subtitle>
        {{b.likes}} likes | Publicado em: {{b.publishedAt}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-label>{{b.id}}</ion-label>
  </ion-card>
</ion-content>
